/* home section starts  */

.home{
    padding-top: 12rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* main property for responsiveness */
    gap: 1.5rem;
}

.box_img img{
    width: 100%;
    height: auto;
    margin-right: 4rem;
}

.home .content{
    margin-left: 5rem;
}


.home .content h1{
    font-size: 4rem;
}

.home .content p{
    font-size: 1.7rem;
    padding: 1rem 0;
    max-width: 40rem;
    padding-bottom: 4rem;
}

.highlights{
    color: rgb(192, 151, 89);
}

.home .content .home-btn{
    padding: 1.3rem 5rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background-color: #fff;
    color: #000;
    font-size: 1.4rem;
    box-shadow: .5rem .5rem hsl(231, 69%, 60%);
    border: 2px solid var(--Soft-Blue);
    border-radius: 1.5rem;
    cursor: pointer;
}

.home .content .home-btn2{
    padding: 1.3rem 5rem;
    margin-right: 2rem;
    background-color: #fff;
    color: #000;
    font-size: 1.4rem;
    /* box-shadow: .5rem .5rem hsl(231, 69%, 60%); */
    border: 2px solid var(--Soft-Blue);
    border-radius: 1.5rem;
    cursor: pointer;
}

.home .content .home-btn2 path{
    color: var(--Soft-Blue);
}

.home .content .home-btn2 svg{
    margin-right: 1.8rem;
}

.home .content .home-btn:hover{
    background-color: var(--Soft-Blue);
    box-shadow: none;
    color: #fff;
}


@media (max-width: 768px){

    .home{
        text-align: center;
    }

    .home .content{
        /* flex: 1 1 45rem; */
        margin-left: 3rem;
    }

    .box_img img{
        margin-right: -20rem;
    }
}

@media (max-width: 850px){
    
}

/* home section ends */